<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>NGAThrifth| Log in</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/square/blue.css">
  <link rel="stylesheet" href="assets/css/helperclass.css" >
    <link rel=" stylesheet" href="assets/css/custom.css " >

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition login-page" >
<div class="login-box">
  <div class="login-logo">
      <img src="assets/images/ngaLogo.png" width="100%"/>
   
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to your account</p>

    <form action="index.html" method="post">
     <div class="row">
         <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        You have successfully logged in, please wait...
         </div>
         
          <div class="alert alert-error fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Wrong IPPIS number or password , please try again .
         </div>
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="text" class="control-label">IPPIS Number</label>
                                <input type="text" name="ippis" class="form-control input-lg " placeholder="Enter Your IPPIS Number" tabindex="1" ng-model="email" ng-required="true" required="required">
                                
                            </div>
                        </div>
                    </div>
      <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="password" class="control-label">Password</label>
                                <input type="password" name="password" class="form-control input-lg " placeholder="Enter your Password" tabindex="1" ng-model="email" ng-required="true" required="required">
                                
                            </div>
                        </div>
                    </div>
        
    <div class="col-xs-12 col-sm-12">
                            <input type="submit" id="loginstate" class="btn btn-primary btn-block btn-lg" value="Login" data-loading-text="Please wait..." autocomplete="off" tabindex="3">
                            
                        </div>
    </form>

   
    <!-- /.social-auth-links -->

    <a href="#" class="text-center">I forgot my password</a><br>
    

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script src="../../plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
</body>
</html>
