/* *********************  Helper Classes  ********************* */

.br0 { border-radius: 0 !important; }
.br1 { border-radius: 1px !important; }
.br2 { border-radius: 2px !important; }
.br4 {  border-radius: 4px !important; }
.br6 { border-radius: 6px !important; }
.br8 { border-radius: 8px !important;}

.op8 {  opacity: 0.8 !important; }
.op7 { opacity: 0.7 !important; }
.op6 { opacity: 0.6 !important; }
.op5 {  opacity: 0.5 !important; }
.op4 {  opacity: 0.4 !important; }
.op2 { opacity: 0.2 !important; }

.underline{text-decoration: underline !important;}
.uppercase { text-transform: uppercase; }
.montserrat { font-family: "Montserrat", 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
.word-wrap { word-wrap: break-word; }
.fs-small { font-size: 80% !important; }
.fs-large { font-size: 120% !important; }
.fs-15 { font-size: 15px !important; }
.fs-12 { font-size: 12px !important; }
.fw-bold {font-weight: bold !important;}
.fw-light {font-weight: 400 !important;}
.line-height-1-5 { line-height: 1.5 !important; }
.line-height-2 { line-height: 2 !important; }
.line-height-2-5 { line-height: 2.5 !important; }

.relative { position: relative; }

.block { display: block !important; }
.inline-block { display: inline-block !important; }

.unstyled {
    list-style: none;
    padding: 0 0 10px 20px;
}
.pull-center {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both;
    text-align: center;
}

.pull-left{float: left !important ;}
.pull-right{float: right!important ;}
.no-float{float: none;}
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }




.m0 { margin:0 !important; }
.mb0 { margin-bottom:0 !important; }
.mt0 { margin-top: 0 !important; }

.mb10 { margin-bottom:10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom:30px !important; }
.mb40 { margin-bottom:40px !important; }
.mb50 { margin-bottom:50px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb70 { margin-bottom: 70px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb12 { margin-bottom: 120px !important; }

.mt10 { margin-top:10px !important; }
.mt20 { margin-top:20px !important; }
.mt30 { margin-top:30px !important; }
.mt40 { margin-top: 40px !important; }
.mt50 { margin-top: 50px !important; }
.mt60 { margin-top: 60px !important; }
.mt70 { margin-top: 70px !important; }
.mt80 { margin-top: 80px !important; }

.mr10 {  margin-right: 10px !important; }
.mr20 { margin-right: 20px !important; }
.mr30 { margin-right: 30px !important; }

.ml10 {  margin-left: 10px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }

.p0 { padding: 0 !important; }
.p10 { padding: 10px !important; }
.p20 { padding: 20px !important; }
.p30 { padding: 30px !important; }
.p40 { padding: 40px !important; }
.p50 { padding: 50px !important; }
.pb2 {padding-bottom: 2px !important; }
.pt5 { padding-top:5px !important; }

.pb0 { padding-bottom: 0 !important; }
.pt0 { padding-top: 0 !important; }

.pr0 { padding-right: 0 !important; }
.pl0 { padding-left: 0 !important; }
.pb2 {padding-bottom: 2px !important; }
.pt5 { padding-top:5px !important; }
.pt20{padding-top: 20px !important ;}
.pb5 { padding-bottom:5px !important; }

.p5 { padding:5px !important; }
.pr5 { padding-right:5px !important; }

.pl5 { padding-left:5px !important; }
.pl30 { padding-left:30px !important; }
.pl35 { padding-left:35px !important; }

.py5 {padding-left:5px !important; padding-right:5px !important;}
.py10 {padding-left:10px !important; padding-right:10px !important;}
.py15 {padding-left:15px !important; padding-right:15px !important;}
.py20 {padding-left:20px !important; padding-right:20px !important;}
.py50 {padding-left:50px !important; padding-right:50px !important;}



.no-border { border: none !important; }

.full-width { width: 100%; }
.full-height { height: 100%; }


/* Colors */
.color-inherit { color: inherit !important; }
.color-main { color: rgb(252,200,19) !important; }
.color-white { color: #fff !important; }
.color-alpha { color: rgba(250, 250, 250, 0.9); }
.color-darker {  color: #303234 !important; }
.color-dark { color: #505355 !important; }
.color-default { color: #667 !important; }
.color-gray { color: #999a9b !important; }
.color-on-dark { color: #d2d4d9 !important; }
.color-on-img { color: #e2e3e4 !important }

.bg-main { background-color: rgb(252,200,19) !important; }
.bg-dark { background-color: #444648 !important; }
.bg-white{ background-color: #ffffff !important; }
.bg-darker {  background-color: #303234 !important; }
.bg-dark-gray { background-color: #778888 !important; }
.bg-light-gray { background-color: #aaabac !important; }
.bg-off-white { background-color: #eee !important; }


.bg_white{background-color: #fff !important; }



/* Check media width for javascript*/
.check-media {
    display:none;
    width:0;
}
@media (max-width: 991px) {
    .check-media { width:991px; }
}

/* Helper classes for mobile */
@media (max-width: 767px) {

	.xs-p0 { padding: 0 !important; }
	.xs-pb0 {  padding-bottom: 0 !important; }
    .xs-pt0 {  padding-top: 0 !important; }

	.xs-m0 { margin: 0 !important; }
    .xs-mt0 { margin-top: 0 !important; }
    .xs-mb0 {  margin-bottom: 0 !important; }
    .xs-mb10 { margin-bottom: 10px !important; }
    .xs-ml20 { margin-left:20px !important; }
     .xs-ml10 { margin-left:10px !important; }
    .xs-ml30 { margin-left:30px !important; }
    .xs-ml40 { margin-left:40px !important; }
    .xs-pr0 { padding-right:0 !important; }

    .xs-text-center { text-align: center !important; }
    .xs-pull-left { float: left !important; }
    .xs-pull-center {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both;
    text-align: center;
}
.xs-pull-center2 {
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both;
   
}
    .xs-block { display: block; }
}


/* Helper classes for tablets */
@media (max-width: 991px) {
	.sm-p0 { padding: 0 !important; }
    .sm-pt0 { padding-top: 0 !important; }
    .sm-pb0 { padding-bottom: 0 !important; }

    .sm-m0 { margin: 0 !important; }
    .sm-mt0 {  margin-top: 0 !important; }
    .sm-mb0 { margin-bottom: 0 !important; }

    .sm-mb10 { margin-bottom: 10px !important; }
    .sm-mt10 { margin-top: 10px !important; }
    .sm-mt50 { margin-top: 50px !important; }
    .sm-mb50 { margin-bottom: 50px !important; }

    .sm-block { display: block !important; }
    .sm-pull-left {  float: left !important; }
}
